body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.divisao1 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 20%;
    grid-gap: 5px;
}

.divisao2 {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-gap: 5px;
    margin-top: 5px;
}

header {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #000;
    color: rgb(1, 1, 1);
}

footer {
    background-color: #f6efef;
    padding: 20px;
    margin-top: 12px;
    text-align: center;
    border: 1px solid #000;
    color: rgba(236, 8, 35, 0.901);
}

.cabeçalho {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    border: 1px solid #000;
}

.box {
    border: 1px solid #000;
}

.destaque-img {
    display: grid;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    row-gap: 10px;
}

img {
    width: 100px;
    height: 100px;
}

section {
    background-color: #fff;
    border: 1px solid #000;
    overflow: auto;
}

@media (max-width: 500px) {
    .divisao1 {
        grid-template-columns: 1fr;
    }

    .divisao2 {
        grid-template-columns: 1fr;
    }

    header {
        width: 100%;
        box-sizing: border-box;
    }

    footer {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: auto;
    }
}