<div class="app-component">
<header>
    <h1>Exercicio 1</h1>
</header>

<main>
    <p>Aprendendo a usar routers para injetar componentes na aplicação usando angular material</p>
    <div>
        <button mat-button routerLink="/" routerLinkActive="active">Home</button>
        <button mat-button routerLink="/sobre" routerLinkActive="active">Sobre</button>
        <button mat-button routerLink="/contato" routerLinkActive="active">Contato</button>
    </div>
    <router-outlet></router-outlet>
</main>

<footer>
    <p>Desenvolvido por <a href="https://github.com/albertolunia">Alberto Henrique</a></p>
</footer>
</div>
