<div class="app-component">
    <header>
        <h1>Home da P009</h1>
    </header>
    
    <main>
        <p>Aprender a usar routing e navegar entre páginas no Angular.
            Criar uma aplicação no Angular onde o usuário possa escolher qual
            o componente exibir utilizando técnicas de routing, simulando uma
            aplicação SPA. Reforçar os conceitos das linguagens HTML, CSS,
            typescript e Angular que foram vistas em sala de aula e aprender a
            utilizar uma biblioteca de interfaces no Angular.
        </p>
        <div>
            <button mat-button (click)="goToP005()">P005</button>
            <button mat-button (click)="goToP006()">P006</button>
            <button mat-button (click)="goToP008()">P008</button>
        </div>
    </main>
    
    <footer>
        <p>Desenvolvido por <a href="https://github.com/albertolunia">Alberto Henrique</a></p>
    </footer>
</div>
